@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #FCF8E8;
}

a {
  color: white;
}

a:hover {
  font-weight: bold;
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #4E944F;
  position: fixed;
  top: 0;
  width: 100%;

  a {
    margin-left: 20px;
    color: white
  }
}

.challenge_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  justify-content: space-evenly;

}

.challenge-card, .my-challenge-card {
  width: 250px;
  height: 350px;
  padding: 10px;
  border: 2px solid green;
  border-radius: 25px;
  margin: 5px;
  display: flex;  
  flex-direction: column;
  flex-wrap: wrap;  
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
  background-color: #F7EDDB;  
  .title {
    font-size: 14px;
  }

  img {
    mix-blend-mode: multiply;
    width: 65%;
  }

  .complete-or-delete {
    display: flex;
    column-gap: 10px;
  }
}


.points-section {
  display: flex;
  background-color: #4E944F;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  flex-wrap: wrap;

  h3 {
    margin-left: 20px;
    font-weight: bold;
  }

  img {
    width: 10%;
    margin-top: 8px;
    margin-left: 20px;
  }
}

.banaa{
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 30%;
  top: 250px;
  width: 50%; /* Full width */
  height: 50%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #ADCF9F;
  display: flex;
  justify-content: center;
  box-shadow: 10px 10px 8px #888888;
  border: 10px solid #4E944F ;
  border-radius: 25px
}

.banaa-content {
  background-color: #CED89E;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  position: absolute;
}